/*! REMOVING MARGIN AND PADDING*/
/** GENERAL CONFIGURATIONS*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Outfit';

    color: black;
    background-color: lightgray;
}
::selection{
    color: blue;
}
/** NAV BAR */
header{
    background-color: darkgrey;

    position: sticky;
    top: 0;

    justify-content: center;
    align-items: center;
    width: 100%;
}
nav{
    align-items: center;
    justify-content: space-between ;
    width: 80vw;
}
nav ul li{
    display: inline-block;
    padding: 1.2em;
    font-size: 1em;
}
nav div{
    padding-left: 10vw;
}
.my-title{
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 2.5em;
}
/**ICON AND TITLE*/
.profile-box{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows:50% 50%;
    align-items: center;
    column-gap: 3em;
    padding-bottom: 3vh;
}
section.profile-box img{
    max-width: 10em;
    grid-row-start: 1;
    grid-row-end: span 2;
    border-radius: 150px;
}
section.profile-box div{
    grid-area: 2/2;
}
.space-sec{
    padding-top: 3em;
    padding-bottom: 3em;
}
/** MAIN SECTION (CONTENT)*/
main{
    /*MAKING THINGS LOOK PRETTY*/
    width: 100vw;
    max-width: 60%;
    padding: 3vh 0;
}
main p{
    text-align: justify;
}
section.about-user p{
    text-indent: 3em;
}
h3{
    font-size: 1.4em;
}
/** FOOTER */
footer{
    width: 100%;
    background-color: darkgray;
}
footer p{
    padding: 0.7em;
    display: inline-block;
}
.footer-content{
    padding: 0.7em;
}
.footer-content a{
    padding: 0.7em;
}
i{
    display: inline-block;
}
/**LINKS! */
a{
    text-decoration: none;
    color: rgb(144, 45, 144);
}
/** titles*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
    margin: 1em 0;
}



/*! UTILITY CALSSES*/
.display-inline-block{
    display: inline-block;
}
.flex-row{ /*! THIS IS ON NAV AND HEADER*/
    display: flex;
    flex-direction: row
}
.flex-column-center-center{ /*! THIS IS ON BODY AND FOOTER*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/**DARK MODE*/
.dark{
    color: lightgray;
    background-color: rgb(55, 55, 55) ;
}
.dark p, h1, h2, h3, li, a{
    font-weight: 200;
}
.dark footer{
    background-color: rgb(36, 36, 36);
}
.dark header{
    background-color: rgb(36, 36, 36);
}
.dark .light-mode-button{
    border-color: lightgray;
}
.dark .light-mode-button::selection{
    color: inherit;
}
.dark .light-mode-button:hover{
    cursor: pointer;
    background-color: lightgray;
    color: black;
}
.dark ::selection{
    color: rgb(181, 50, 181)
}
/** DARK MODE BUTTON IS ON NAVBAR*/
.light-mode-button{ 
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 0.7em;
    cursor: pointer;
}
.light-mode-button::selection{
    color: inherit;
}
.light-mode-button:hover{
    cursor: pointer;
    background-color: rgb(36, 36, 36);
    color: lightgray;
}
#darkToggle{
    display: none;
}
/** MEDIA QUERIES*/
/**? DEPOIS FAZER A RESPONSIVIDADE**/
